<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>weiboManger</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUser</servlet-name>
    <servlet-class>com.hx.servelet.getUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserinfo</servlet-name>
    <servlet-class>com.hx.servelet.getUserinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserChart</servlet-name>
    <servlet-class>com.hx.servelet.getUserChart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBlog</servlet-name>
    <servlet-class>com.hx.servelet.getBlog</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBlogByID</servlet-name>
    <servlet-class>com.hx.servelet.getBlogByID</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteComment</servlet-name>
    <servlet-class>com.hx.servelet.deleteComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MesaageServlet</servlet-name>
    <servlet-class>com.hx.servelet.MesaageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.hx.servelet.deleteUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteBlog</servlet-name>
    <servlet-class>com.hx.servelet.deleteBlog</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserinfo</servlet-name>
    <url-pattern>/getUserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserChart</servlet-name>
    <url-pattern>/getUserChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBlog</servlet-name>
    <url-pattern>/getBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBlogByID</servlet-name>
    <url-pattern>/getBlogByID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MesaageServlet</servlet-name>
    <url-pattern>/MesaageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBlog</servlet-name>
    <url-pattern>/deleteBlog</url-pattern>
  </servlet-mapping>
</web-app>